<div class="page-header" style="background-image: url('../assets/img/burgers.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                <div class="card bg-dark card-register">
                    <h3 class="text-center">Log ind</h3>

                    <p *ngIf="signedIn">DU ER LOGGET IND!</p>
                    <form (ngSubmit)="onLogin(f)" #f="ngForm">
                        <div class="form-group">
                            <label for="username">Brugernavn</label>
                            <input class="form-control" id="username" name="username" placeholder="username" ngModel
                                   type="text">

                            <label for="password">Adgangskode</label>
                            <input class="form-control" id="password" name="password" placeholder="password" ngModel
                                   type="password">
                            <button class="btn btn-success btn-block btn-round" type="submit">Log ind</button>
                        </div>
                    </form>


                    <div class="forgot">
                        <a class="btn btn-link btn-neutral" href="#">Glemt adgangskode?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer register-footer text-center">
            <h6>Log ind til din personlige profil</h6>
        </div>
    </div>
</div>