<!--Footer-->
<footer class="page-footer light-text">

    <!--Fullwidth bg-color med col-md-12 content-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!--Links i DinDin_footer-->
                <div class="container-fluid text-md-left">
                    <div class="row">

                        <!--Første række-->
                        <div class="col-md-3">
                            <h5 class="text-info" >DINDIN</h5>
                            <p>{{footerText}}</p>
                        </div>
                        <!--/første række-->

                        <!--Mød DinDin-->
                        <div class="col-md-3">
                            <h5>{{moedDinDin[0]}}</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/">{{moedDinDin[1]}}</a>
                                </li>
                                <li>
                                    <!--#todo implementer resturanter-->
                                    <a href="#!">{{moedDinDin[2]}}</a>
                                </li>
                                <li>
                                    <a href="/om-os#top">{{moedDinDin[3]}}</a>
                                </li>
                                <li>
                                    <a href="/kontakt#send_mail">{{moedDinDin[4]}}</a>
                                </li>
                            </ul>
                        </div>
                        <!--/Mød DinDin-->

                        <!--Brug for hjælp-->
                        <div class="col-md-3">
                            <h5>{{hjaelp[0]}}</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">{{hjaelp[1]}}</a>
                                </li>
                                <li>
                                    <a href="#!">{{hjaelp[2]}}</a>
                                </li>
                                <li>
                                    <a href="/kontakt#send_mail">{{hjaelp[3]}}</a>
                                </li>
                            </ul>
                        </div>
                        <!--/Brug for hjælp-->

                        <!--Adresse-->
                        <div class="col-md-3">
                            <h5>{{adresse[0]}}</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://datacvr.virk.dk/data/visninger?soeg=DinDin&type=Alle">{{adresse[1]}}</a>
                                </li>
                                <li>
                                    {{adresse[2]}}
                                </li>
                                <li>
                                    {{adresse[3]}}
                                </li>
                                <li>
                                    {{adresse[4]}}
                                </li>
                            </ul>
                        </div>
                        <!--/Adresse-->
                    </div>
                </div>
                <!--/links i DinDin_footer-->

            </div>
        </div>
    </div>
    <!--/Fullwidth bg-color med col-md-12 content-->

</footer>
<!--/.Footer-->
