
<h3 class="ml-3 mb-3 mt-5">BRUGEROPLYSNINGER </h3>
<hr style="width: 97%">
<div class="container">
  <table class="table">
    <thead>
    <tr class="bg-info">
      <th>Brugernavn</th>
      <th>Fornavn</th>
      <th>Efternavn</th>
      <th>Bruger siden</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white text-dark">
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.created.replace('04:31:28 CEST ','')}}</td>
    </tr>
    </tbody>
  </table>
</div>