<div class="section section-overhead"></div>
<div class="section section-profile">
<div class="container full-page">

  <h1>{{restaurant.name.toUpperCase()}}</h1>
  <section style="padding-bottom: 50px; padding-top: 50px;">
    <div class="row">

      <div class="col-md-4">
        <img src="assets/pics/restaurant_pics/den_dyre_sushi.jpg" class="img-rounded img-responsive">
        <br>
        <br>
        <label>Adresse</label>
        <p>{{restaurant.address}} {{restaurant.zipcode}}</p>
        <label>Telefon</label>
        <p>{{restaurant.phone}}</p>
        <label>Køkken</label>
        <p>{{restaurant.cuisine}}</p>
        <label>Prisklasse</label>
        <p>{{restaurant.budget}}</p>
        <br>
        <hr>
        <br><br>
      </div>
      <div class="col-md-8">
        <div>
          <h3 style="margin: 0px">OM RESTAURANTEN</h3>
          <p>
            Placeret i hjertet af københavn. Hos os er essensen at kombinere en skøn, uformel stemning med hygge og ikke mindst rigtig god mad.
            Vores kokke har udviklet stor passion for deres køkken, som mærkes ved hvert måltid der serveres. Kom forbi, og oplev en stemning udover det normale. Velbekomme.
          </p>
        </div>
        <div class="mt-4">
          <a href="#" class="btn btn-primary">
            <i class="fa fa-instagram"></i>&nbsp; Instagram</a>
          <a href="{{restaurant.website}}" class="btn btn-info ml-3">
            <i class="fa fa-home"></i>&nbsp; Hjemmeside</a>
        </div>
        <!--<div class="form-group col-md-8">-->
          <!--<h3>Change YOur Password</h3>-->
          <!--<br>-->
          <!--<label>Enter Old Password</label>-->
          <!--<input type="password" class="form-control">-->
          <!--<label>Enter New Password</label>-->
          <!--<input type="password" class="form-control">-->
          <!--<label>Confirm New Password</label>-->
          <!--<input type="password" class="form-control">-->
          <!--<br>-->
          <!--<a href="#" class="btn btn-warning">Change Password</a>-->
        <!--</div>-->
      </div>
    </div>
    <!-- ROW END -->


  </section>
  <!-- SECTION END -->
</div></div>