<div class="page-header" style="background-image: url('../assets/img/burgers.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="row">
      <div  class="col-lg-4 col-sm-6 mr-auto ml-auto">
        <div  class="card bg-dark card-register">
          <h3 class="text-center">Log ind</h3>

          <form  class="register-form ng-untouched ng-pristine ng-valid" novalidate="">
            <label >Brugernavn</label>
            <input class="form-control" placeholder="Brugernavn" type="text">

            <label >Adgangskode</label>
            <input  class="form-control" placeholder="Adgangskode" type="password">
            <button  class="btn btn-success btn-block btn-round">Log ind</button>
          </form>
          <div  class="forgot">
            <a  class="btn btn-link btn-neutral" href="#">Glemt adgangskode?</a>
          </div>
        </div>
      </div>
    </div>
    <div  class="footer register-footer text-center">
      <h6>Log ind til din personlige profil</h6>
    </div>
  </div>
</div>


<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-4"></div>-->
    <!--<div class="col-md-4" style="margin: 300px">-->
      <!--<div class="card card-register bg-dark text-white" style="padding: 20px">-->
        <!--<div class="panel-heading" style="margin-bottom: 20px">-->
          <!--<h2 class="panel-title">Log ind</h2>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
          <!--<form accept-charset="UTF-8" role="form">-->
            <!--<fieldset>-->
              <!--<div class="form-group">-->
                <!--<input class="form-control" placeholder="E-mail" name="email" type="text">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<input class="form-control" placeholder="Adgangskode " name="password" type="password" value="">-->
              <!--</div>-->
              <!--<div class="checkbox">-->
                <!--<label>-->
                  <!--<input name="remember" type="checkbox" value="Remember me"> Husk mig-->
                <!--</label>-->
              <!--</div>-->
              <!--<input class="btn btn-lg btn-success btn-block" type="submit" value="Log på">-->
            <!--</fieldset>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4"></div>-->
  <!--</div>-->
<!--</div>-->