<!--Footer-->
<footer class="page-footer light-text">

    <!--Fullwidth bg-color med col-md-12 content-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!--Links i DinDin_footer-->
                <div class="container-fluid text-md-left">
                    <div class="row">

                        <!--Første række-->
                        <div class="col-md-3">
                            <h2 >DinDin</h2>
                            <p>{{Footer_Tekst}}</p>
                        </div>
                        <!--/første række-->

                        <!--Mød DinDin-->
                        <div class="col-md-3">
                            <h3>{{MoedDinDin[0]}}</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/">{{MoedDinDin[1]}}</a>
                                </li>
                                <li>
                                    <!--#todo implementer resturanter-->
                                    <a href="#!">{{MoedDinDin[2]}}</a>
                                </li>
                                <li>
                                    <a href="/om-os#top">{{MoedDinDin[3]}}</a>
                                </li>
                                <li>
                                    <a href="/kontakt#send_mail">{{MoedDinDin[4]}}</a>
                                </li>
                            </ul>
                        </div>
                        <!--/Mød DinDin-->

                        <!--Brug for hjælp-->
                        <div class="col-md-3">
                            <h3>{{BrugForHjaelp[0]}}</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">{{BrugForHjaelp[1]}}</a>
                                </li>
                                <li>
                                    <a href="#!">{{BrugForHjaelp[2]}}</a>
                                </li>
                                <li>
                                    <a href="/kontakt#send_mail">{{BrugForHjaelp[3]}}</a>
                                </li>
                            </ul>
                        </div>
                        <!--/Brug for hjælp-->

                        <!--Adresse-->
                        <div class="col-md-3">
                            <h3>{{Adresse[0]}}</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://datacvr.virk.dk/data/visninger?soeg=DinDin&type=Alle">{{Adresse[1]}}</a>
                                </li>
                                <li>
                                    {{Adresse[2]}}
                                </li>
                                <li>
                                    {{Adresse[3]}}
                                </li>
                                <li>
                                    {{Adresse[4]}}
                                </li>
                            </ul>
                        </div>
                        <!--/Adresse-->
                    </div>
                </div>
                <!--/links i DinDin_footer-->

            </div>
        </div>
    </div>
    <!--/Fullwidth bg-color med col-md-12 content-->

</footer>
<!--/.Footer-->
