.btn-xxl {
  height: 100px;
  width: 100px;
  min-width: 100px;
}

.dollar-color-dark {
  background-color: #2b542c;
}

.dollar-color-normal {
  background-color: #426e43;
}

.dollar-color-light {
  background-color: #588a59;
}

