<!--<div class="container">-->
  <!--<h2>Card Image</h2>-->
  <!--<p>Image at the top (card-img-top):</p>-->
  <!--<div class="card card-register card-outline-info" style="width:400px">-->
    <!--<img class="card-img"  src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Card image" style="width:100%;">-->
    <!--<div class="card-body">-->
      <!--<h4 class="card-title">John Doe</h4>-->
      <!--<p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>-->
      <!--<a href="#" class="btn btn-primary">See Profile</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<br>-->

<h3 class="ml-3">FAVORITTER </h3>
<hr style="width: 97%">
<div class="container">
    <div class="card p-0 card-plain bg-white rounded">
        <div class="card-body">
            <div class="col-md-12">
                <div class="float-left">
            <h3 class="font-weight-bold card-title">SILAS KEBAB</h3>
            <h5 class="card-subtitle">Tyrkisk</h5>
                    <div class="ml-3 mt-1">
            <p class="card-text">Addresse:</p>
            <p class="card-text">Prisklasse:</p>
            <a href="#" class="card-link">Menukort</a>
            <a href="#" class="card-link">Se mere</a>
                    </div>
            </div>
            </div>
            <div class="col-md 12">
                <button

                        class="btn btn-danger btn-custom mt-5
                      btn-just-icon float-right"
                        type="button"
                        placement="right"
                        ngbTooltip="Unlike">
                    <i class="fa fa-heart"></i>
                </button>
            <img src="assets/img/logo-rest.png" style="height: 8%; width: 16%" class=" img-fluid img-thumbnail float-right mr-5">
            </div>
        </div>
    </div>
</div>