<div class="section section-dark-gray full-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button routerLink="/home" class="btn btn-warning btn-just-icon ml-3 mb-2"><i class="fa fa-arrow-left"></i></button>
                <h3 class="ml-3 line-in margin-top">RESULTATER ({{numOfResults}})</h3>
                <hr class="hr-custom">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-restaurant-list></app-restaurant-list>
            </div>
        </div>
    </div>
</div>