.section-dark-gray {
  background-color: #43494f;
  color: #FFFFFF;
}

.section-darcula {
  background-color: #2d3338;
  color: #FFFFFF;
}

.badge-new {

  background-color: #47b4d5;
  color: white;

}

.custom-width {
  width: 100px !important;
}